{% extends 'base.html' %}


{% block title %} Cupcakes {% endblock %}

{% block content %}

<ul id="cupcake-list">

</ul>

<form>
  <label for="cupcake-flavor">Flavor</label>
  <input name="cupcake-flavor" id="cupcake-flavor" placeholder="Enter Flavor">

  <label for="cupcake-size">Size</label>
  <input name="cupcake-size" id="cupcake-size" placeholder="Enter Size">

  <label for="cupcake-rating">Rating</label>
  <input name="cupcake-rating" id="cupcake-rating" placeholder="Enter Rating">

  <label for="cupcake-image">Image</label>
  <input name="cupcake-image" id="cupcake-image" placeholder="Enter Image">

  <button id="submit" type="submit">submit</button>
</form>



{% endblock %}